<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurelcrown.payoff">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- WiFi Direct permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pay_off_logo_white"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pay_off_logo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.laurelcrown.payoff.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.laurelcrown.payoff.LoginActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.laurelcrown.payoff.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laurelcrown.payoff.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.laurelcrown.payoff.ConnectToPeersActivity"
            android:parentActivityName="com.laurelcrown.payoff.MainActivity" />
        <activity
            android:name="com.laurelcrown.payoff.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.laurelcrown.payoff.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName="com.laurelcrown.payoff.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laurelcrown.payoff.MainActivity" />
        </activity>
        <activity
            android:name="com.laurelcrown.payoff.OfflineBalanceTransferActivity"
            android:label="@string/title_activity_offline_balance_transfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.laurelcrown.payoff.SendPaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.laurelcrown.payoff.ReceivePaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.laurelcrown.payoff.UpdateFXActivity"
            android:parentActivityName="com.laurelcrown.payoff.MainActivity" />
        <activity
            android:name="com.laurelcrown.payoff.LedgerActivity"
            android:parentActivityName="com.laurelcrown.payoff.MainActivity" />
        <activity
            android:name="com.laurelcrown.payoff.OnlineBalanceTransferActivity"
            android:label="@string/title_activity_online_balance_transfer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>